@{
    ViewData["Title"] = "Contato";
}

<br /><br /><br /><br />
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Class Mark Soluções Bussiness<br />
    Rio de Janeiro, RJ 24.746-140 <br />
    <title="Phone">Tel:</>
    (21) 96990-9037
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">support@classmark.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@classmark.com</a>
</address>