<link rel="stylesheet" href=~/css/site.css />
<br />

<div class="card-group">
  <div class="card">
    <img src="~/images/clientes.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cadastro de Clientes</h5>      
    </div>    
  </div>
  <div class="card">
    <img src="~/images/vendedores.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cadastro de Vendedores</h5>      
    </div>    
  </div>
  <div class="card">
    <img src="~/images/produtos.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cadastro de Produtos</h5>      
    </div>    
  </div>  
</div>
<br />
<div class="card-group">
  <div class="card">
    <img src="~/images/vendas.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Registro de Vendas</h5>      
    </div>    
  </div>
  <div class="card">
    <img src="~/images/relatorios.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Relatórios</h5>      
    </div>    
  </div>
  <div class="card">
    <img src="~/images/configuracoes.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Configurações</h5>      
    </div>    
  </div>  
</div>