@{
    ViewData["Title"] = "Termo de Privacidade";
}

<h1>Proteção de Dados Pessoais - LGPD</h1>
<br />
<p>
<h4>Proteção de Dados Pessoais - LGPD</h4>

A Lei Geral de Proteção de Dados Pessoais (LGPD), Lei nº 13.709, de 14 de agosto de 2018, dispõe sobre o tratamento de dados pessoais, inclusive nos meios digitais, por pessoa natural ou por pessoa jurídica de direito público ou privado, com o objetivo de proteger os direitos fundamentais de liberdade e de privacidade e o livre desenvolvimento da personalidade da pessoa natural.
<br />
Conforme o art. 5º da LGPD, dado pessoal é toda informação relacionada a pessoa natural identificada ou identificável.
</p>
<br />
<p>
<h4>Direitos dos titulares de dados pessoais</h4>

Toda pessoa natural tem assegurada a titularidade de seus dados pessoais e garantidos os direitos fundamentais de liberdade, de intimidade e de privacidade, nos termos da LGPD (artigo 17 da LGPD).
<br />
O titular dos dados pessoais tem direitos, que podem ser exercidos mediante requerimento expresso ao Ministério da Defesa.
<br />
Os direitos do titular são: confirmação da existência de tratamento; acesso aos dados; correção de dados incompletos, inexatos ou desatualizados; eliminação dos dados pessoais, entre outros.
<br />
Para apresentar requerimento expresso ao Ministério da Defesa, com fundamento na LGPD, utilize a Plataforma Fala.br.
</p>
<br />
<p>
<h4>Encarregada pelo Tratamento de Dados Pessoais</h4>

Márcia Soares da Cunha<br />

E-mail para orientações e esclarecimentos de dúvidas: encarregado@defesa.gov.br<br />
Correspondência: Ministério da Defesa. Esplanada dos Ministérios, Bloco Q - Zona CívicoAdministrativa Brasília/DF - CEP 70 049-900<br />

O encarregado pelo tratamento de dados pessoais atua como canal de comunicação entre o controlador, os titulares dos dados e a Autoridade Nacional de Proteção de Dados (Lei nº 13.709/2018, art. 5º, VIII). 
</p>
<br />
<h4>São atribuições do encarregado pelo tratamento de dados pessoais (LGPD, art. 41, §2º):</h4>
<p>
I - aceitar reclamações e comunicações dos titulares, prestar esclarecimentos e adotar providências;<br />
II - receber comunicações da autoridade nacional e adotar providências;<br />
III - orientar os funcionários e os contratados da entidade a respeito das práticas a serem tomadas em relação à proteção de dados pessoais; e<br />
IV - executar as demais atribuições determinadas pelo controlador ou estabelecidas em normas complementares.<br />
<br />
O Ministério da Defesa, em cumprimento ao art. 41 da LGPD, nomeou sua Encarregada pelo tratamento de dados pessoais por meio da Portaria GM-MD n° 1.648/2021.

Clique aqui e acesse a Autoridade Nacional de Proteção de Dados (ANPD)

Termo de uso e aviso de privacidade
</p>