@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>Privacidade</h1>
<p>Texto de informações do termo de privacidade do app.
    Texto de informações do termo de privacidade do app.
    Texto de informações do termo de privacidade do app.
    Texto de informações do termo de privacidade do app.
    Texto de informações do termo de privacidade do app.
</p>